body{
    font-size: 24px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #ccc5b9;
    background-color: #000000;
}
article {
    background-color:#1e6091 ;
    padding: 40px;
    margin: 40px;
    border-radius: 4px;
}

